In [30]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
import yfinance as yf
import pandas as pd

# Define tickers
tickers = ['TSLA', 'BND', 'SPY']

# Set time period
start_date = '2020-01-01'
end_date = '2025-03-01'

# Fetch historical data
data = {ticker: yf.download(ticker, start=start_date, end=end_date) for ticker in tickers}

# Save data to CSV files
for ticker, df in data.items():
    df.to_csv(f'../src/data/{ticker}_historical_data.csv')

# Display first few rows for each
tesla_data = data['TSLA'].head()
bnd_data = data['BND'].head()
spy_data = data['SPY'].head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [32]:
print("Tesla (TSLA) Sample Data:")
tesla_data.head()

Tesla (TSLA) Sample Data:

Price           Close       High        Low       Open     Volume
Ticker           TSLA       TSLA       TSLA       TSLA       TSLA
Date
2020-01-02  28.684000  28.713333  28.114000  28.299999  142981500
2020-01-03  29.534000  30.266666  29.128000  29.366667  266677500
2020-01-06  30.102667  30.104000  29.333332  29.364668  151995000
2020-01-07  31.270666  31.441999  30.224001  30.760000  268231500
2020-01-08  32.809334  33.232666  31.215334  31.580000  467164500

In [33]:
print("\nBND Sample Data:")
bnd_data.head()

BND Sample Data:

Price           Close       High        Low       Open   Volume
Ticker            BND        BND        BND        BND      BND
Date
2020-01-02  72.948761  73.070385  72.914010  72.957450  5511000
2020-01-03  73.209412  73.226790  73.061726  73.131227  5368300
2020-01-06  73.122505  73.244129  73.070382  73.235447  3710400
2020-01-07  73.061676  73.148549  73.035615  73.148549  3029900
2020-01-08  72.948761  73.148569  72.887949  73.087757  3674400

In [34]:
print("\nSPY Sample Data:")
spy_data.head()

SPY Sample Data:

Price            Close        High         Low        Open    Volume
Ticker             SPY         SPY         SPY         SPY       SPY
Date
2020-01-02  301.194916  301.213476  299.025448  299.961853  59151200
2020-01-03  298.914215  300.054588  297.699684  297.755309  77709700
2020-01-06  300.054565  300.138003  297.013570  297.134101  55653900
2020-01-07  299.210876  299.961845  298.756566  299.479722  40496400
2020-01-08  300.805511  302.038574  299.155231  299.405545  68296000